*{
  background-color: black;
  text-align: center;
}

.title{
  color: white;
  font-family: Verdana;
  font-size: 50px;
}
.guide{
  font-family: Verdana;
}

.description{
  color: gray;
  font-size: 21px;
}
.personal{
  color: white;
  font-family: Verdana;
  font-size: 42px;
  font-weight: 300;
}
.download{
  color: Aquamarine;
  font-size: 16px;
}
